@layer base {
    :root {
        @media (min-width: 48rem) {
            [data-path="/"] {
                background-image:
                        url("/Homepage 2.png"), url("/Homepage 4.png"),
                        url("/Homepage 3.png"), url("/Homepage 1.png"), url("/Homepage 5.png");
                background-repeat: no-repeat;
                background-position:
                        left 62rem,
                        left 108rem,
                        right 50rem,
                        right 102rem,
                        right 297rem;
                background-size:
                        33% auto,
                        15% auto,
                        25% auto,
                        25% auto,
                        25% auto;
            }

            [data-path^="/rsvp"] {
                background-image: url("/RSVP Main.png");
                background-repeat: no-repeat;
                background-position: left 42%;
                background-size: 18% auto;
            }

            [data-path="/your-trip"] {
                background-image: url("/Your Trip Main.png");
                background-repeat: no-repeat;
                background-position: left 37%;
                background-size: 25% auto;
            }
        }
    }
}