section::before {
	display: block;
	content: ' ';
	border-top: 0.1em solid;
	width: 10vw;
	margin: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
	margin-left: calc(50% - 5vw);
}

section header {
	display: flex;
	justify-content: center;
}

footer {
	text-align: center;
}

section#footer nav ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section#homepage-banner header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section#homepage-schedule nav ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: start;
}

section#event-details :has(>ul) {
	overflow: auto;
}

section#event-details ul {
	padding: 0;
	display: flex;
	width: fit-content;
	flex-direction: row;
	gap: 1em;
}

section#event-details ul li {
	margin: 0;
	list-style-type: none;
	width: 25ch;
	padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}

[role="tabpanel"] {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
	gap: var(--pico-block-spacing-vertical);
}

[role="tabpanel"] div {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
	gap: var(--pico-block-spacing-horizontal);
}

[role="tabpanel"] div>:not(h3) {
	flex: 1 1;
}

[role="tabpanel"] ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}

[role="tabpanel"] ul>li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
