@import "tailwindcss";

@theme {
  --font-display: "Pinyon Script";
  --font-normal: "Libre Baskerville";
  --text-normal: 1.125rem;
  --color-tertiary: #caa5af;
  --color-secondary: #fff8f7;
  --color-primary: #7f2549;
  --gap-normal: 3rem;
}

@layer base {
  :root {
    @apply bg-secondary font-normal text-normal text-primary border-primary;
  }

  body {
    @apply w-full flex flex-col items-center;
  }

  main {
    @apply m-24 max-w-360;
  }

  article {
    @apply w-full flex flex-col;

    & > section {
      @apply flex justify-between gap-normal;
    }
  }

  nav,
  nav > ul {
    @apply flex justify-between items-baseline gap-normal;
  }

  header,
  footer {
    @apply w-full flex justify-center;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h1,
  h2,
  h3 {
    @apply uppercase;
  }

  p {
    @apply mb-4;
  }

  em {
    @apply font-display normal-case text-8xl;
  }

  small {
    @apply lowercase text-[0.5em];
  }

  hr {
    @apply w-full my-12;
  }

  hr.vertical {
    @apply inline border-0 border-l h-4 mx-2;
  }

  img {
    @apply min-w-0 object-cover;

    &.framed {
      @apply border p-4;
    }

    &.hover-chromatic {
      @apply duration-200 md:grayscale-100 hover:grayscale-0 group-hover:grayscale-0;
    }
  }

  [role="marquee"] {
    @apply h-[25vh] flex overflow-x-auto pb-4 gap-4;

    &::-webkit-scrollbar {
      @apply h-1 rounded-lg;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-text);
    }

    & figure {
      @apply relative h-full max-w-full aspect-square;

      & figcaption {
        @apply absolute top-0 left-0 m-4 px-2 bg-secondary rounded-sm;
      }

      & > img {
        @apply w-full h-full;
      }
    }
  }

  a {
    @apply inline-flex items-center gap-4 rounded-sm p-4 uppercase;

    & .arrow {
      @apply relative flex-1 min-w-12 h-0;

      &::before {
        content: "";
        @apply absolute left-0 right-0 top-1/2 -translate-y-1/2 border-t-2 border-current;
      }

      &::after {
        content: "";
        @apply absolute right-0 top-1/2 size-2 -translate-y-1/2 rotate-45 border-t-2 border-r-2 border-current;
      }
    }
  }
}

.cols-2 {
  & > * {
    flex-basis: 50%;
  }
}
