h1,
h2,
h3 {
	text-transform: uppercase;
}

h1 i,
h2 i,
h3 i {
	text-transform: lowercase;
}

header h1,
header h2,
header h3 {
	text-align: center;
}

.columns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--pico-block-spacing-horizontal);
}

.columns>* {
	flex-basis: calc(50% - var(--pico-block-spacing-horizontal));
}

.hyphenated>*:not(:last-child)::after {
	content: '-';
}

.oval {
	border-radius: 50%;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
}


[role="marquee"] {
	margin: 0;
	padding: var(--pico-block-spacing-horizontal);
	display: flex;
	flex-direction: row;
	gap: var(--pico-block-spacing-horizontal);
	overflow-x: scroll;
}

[role="marquee"] li {
	list-style-type: none;
	margin: 0;
	flex-shrink: 0;
}

dt {
	font-size: larger;
	font-weight: bold;
}

dd {
	margin: 0;
}

/*
header,
footer {
	text-align: center;
}

[role="tablist"] {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-evenly;
}

[role="tabpanel"] {
	display: none;
	flex-wrap: wrap;
}

[role="tabpanel"][aria-current="true"] {
	display: flex;
	align-items: start;
	gap: var(--pico-block-spacing-horizontal);
}

[role="tabpanel"]>div {
	flex: 1 1;
	min-width: 33%;
}

[role="tabpanel"] ul {
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	gap: var(--pico-block-spacing-horizontal);
}

[role="marquee"] {
	display: flex;
	overflow-x: auto;
	gap: var(--pico-block-spacing-horizontal);
	padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
}

[role="marquee"] li {
	margin: 0;
	padding: 0;
	min-width: 33%;
	list-style-type: none;
}
*/
