.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
}

.hero h1 {
	font-style: italic;
	text-transform: none;
}

.hero div {
	white-space: nowrap;
}

.event-details {
	margin: 0;
	padding: var(--pico-block-spacing-horizontal);
	display: flex;
	flex-direction: row;
	gap: var(--pico-block-spacing-horizontal);
	flex-wrap: wrap;
	justify-content: space-between;
}

.event-details>* {
	list-style-type: none;
	margin: 0;
	flex-basis: 30%;
	min-width: 15ch;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer hr {
	width: 100%;
}

/*
.blockText {
	text-transform: uppercase;
}

.hyphenated>*:not(:last-child)::after {
	content: '-';
}
*/
