header,
footer {
	text-align: center;
}

[role="tablist"] {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	justify-content: space-evenly;
}

[role="tabpanel"] {
	display: none;
	flex-wrap: wrap;
}

[role="tabpanel"][aria-current="true"] {
	display: flex;
	align-items: start;
	gap: var(--pico-block-spacing-horizontal);
}

[role="tabpanel"] ul {
	overflow: auto;
	display: flex;
	gap: var(--pico-block-spacing-horizontal);
}
